
<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        
        $('select').material_select();
          
    });
    $('#medicamentos').addClass('active');
    $('#medicamentos').addClass('z-depth-5');
    $('#usuarios').removeClass('z-depth-5');
    $('#usuarios').removeClass('active');
    $('#logohome').removeClass('z-depth-5');
    $('#logohome').removeClass('active');
    $('#reportes').removeClass('active');
    $('#reportes').removeClass('z-depth-5');
    $('#menuusuarios').removeClass('active');
    $('#menuusuarios').removeClass('z-depth-5');
    $('#logout').removeClass('active');
    
   
       
</script>

<medicamentos-menu></medicamentos-menu>


 <ul class="collapsible popout collection with-header" data-collapsible="accordion" id="Config">
     <li class="center-align collection-header brown-text lighten-3"><h4 class="flow-text header">Medicamentos: Configuración</h4><h6 class="flow-text brown-text lighten-3"> Ingrese los campos necesarios para crear el nuevo valor</h6></li>
    <li collection-item id="Config-li">
      <div class="collapsible-header"><i class="material-icons">info_outline</i>Presentación Comercial</div>
      <div class="collapsible-body popup-element">
      
         <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear una nueva presentación comercial</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()"ng-controller="presentacion_comercial">
                
              <div class="row">
             <div class="input-field col s9">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nombrePresentacionComercial" type="text" class="validate"ng-model="nombre">
                  <label for="nombrePresentacionComercial">Nombre de la Nueva Presentación Comercial<span id="asterisco"> *</span></label>
                </div>
                 <div class="input-field col s9">
                  <i class="material-icons prefix">description</i>
                  <textarea id="descripcionPresentacionComercial" class="materialize-textarea" ng-model="descripcion"></textarea>
                  <label for="descripcionPresentacionComercial">Breve descripción de ésta nueva presentación comercial<span id="asterisco"> *</span></label>
                 </div>
                  <div class="col s9 right-align">
                  <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                </div>
                  
               </div>
          </form>
              
        </div>
          
      </div>
    </li>
    <li id="Config-li">
      <div class="collapsible-header"><i class="material-icons">input</i>Modalidad de Ventas</div>
      <div class="collapsible-body popup-element">
      
        <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear una nueva modalidad de ventas</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()" ng-controller="modalidad_venta">
              <div class="row">
             <div class="input-field col s9">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nombreModalidadDeVenta" type="text" class="validate"ng-model="nombre">
                  <label for="nombreModalidadDeVenta">Nombre de la Nueva Modalidad de Venta<span id="asterisco"> *</span></label>
                </div>
                 <div class="input-field col s9">
                  <i class="material-icons prefix">description</i>
                  <textarea id="descripcionModalidadDeVenta" class="materialize-textarea"ng-model="descripcion"></textarea>
                  <label for="descripcionModalidadDeVenta">Breve descripción de ésta nueva modalidad de venta<span id="asterisco"> *</span></label>
                 </div>
                  <div class="col s9 right-align">
                  <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
               </div>
          </form>
        </div>
          
      </div>
    </li>
    <li id="Config-li">
      <div class="collapsible-header"><i class="material-icons">invert_colors</i>Categorias de Medicamentos</div>
      <div class="collapsible-body popup-element">
      
           <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear una nueva categoria de medicamento</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()" ng-controller="categoria">
              <div class="row">
             <div class="input-field col s9">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nombreCategoria" type="text" class="validate"ng-model="nombre">
                  <label for="nombreCategoria">Ingrese el nombre de la nueva categoría<span id="asterisco"> *</span></label>
                </div>
                 <div class="input-field col s9">
                  <i class="material-icons prefix">description</i>
                   <textarea id="descripcionCategoria" class="materialize-textarea"ng-model="descripcion"></textarea>
                  <label for="descripcionCategoria">Ingrese una breve descripción sobre la nueva categoría<span id="asterisco"> *</span></label>
                 </div>
                  <div class="col s9 right-align">
                  <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
               </div>
          </form>
        </div>
          
      </div>
    </li>
    <li id="Config-li">
      <div class="collapsible-header"><i class="material-icons">labels</i>Estados de Ciclo de Vida</div>
      <div class="collapsible-body popup-element">
      
           <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear un nuevo estado de ciclo de vida en el proceso de legalización</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()" ng-controller="ciclo_vida">
              <div class="row">
             <div class="input-field col s9">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nombreCicloDeVida" type="text" class="validate"ng-model="nombre">
                  <label for="nombreCicloDeVida">Ingrese el nombre del nuevo paso en el ciclo de vida<span id="asterisco"> *</span></label>
                </div>
                 <div class="input-field col s9">
                     <i class="material-icons prefix">description</i>
                  <textarea id="descripcionCicloDeVida" class="materialize-textarea"ng-model="descripcion"></textarea>
                  <label for="descripcionCicloDeVida">Ingrese una breve descripción del nuevo paso en el ciclo de vida<span id="asterisco"> *</span> </label>
                 </div>
                  <div class="col s9 right-align">
                  <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
               </div>
          </form>
        </div>
          
      </div>
    </li>
     <li id="Config-li">
      <div class="collapsible-header"><i class="material-icons">polymer</i>Vía de Administración</div>
      <div class="collapsible-body popup-element">
      
           <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear una nueva vía de administración del medicamento</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()" ng-controller="via_administracion">
              <div class="row">
             <div class="input-field col s9">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nombreViaAdministracion" type="text" class="validate" ng-model="nombre">
                  <label for="nombreViaAdministracion">Ingrese el nombre de la nueva vía de administración<span id="asterisco"> *</span></label>
                </div>
                 <div class="input-field col s9">
                  <i class="material-icons prefix">description</i>

                  <textarea id="descripcionModalidadDeVenta" class="materialize-textarea"ng-model="descripcion"></textarea>
                  <label for="descripcionModalidadDeVenta">Ingrese una breve descripción sobre la nueva vía de administración<span id="asterisco"> *</span></label>

                 </div>
                 <div class="col s9 right-align">
                  <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div> 
               </div>
          </form>
        </div>
          
      </div>
    </li>
     <li id="Config-li">
      <div class="collapsible-header"><i class="material-icons">assessment</i>Forma Farmaceutica</div>
      <div class="collapsible-body popup-element">
      
           <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear una nueva Forma Farmaceutica del medicamento</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()" ng-controller="forma_farmaceutica">
              <div class="row">
             <div class="input-field col s9">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nombreFormaFarmaceutica" type="text" class="validate" ng-model="nombre">
                  <label for="nombreFormaFarmaceutica">Ingrese el nombre de la nueva Forma Farmaceutica<span id="asterisco"> *</span></label>
                </div>
                 <div class="input-field col s9">
                  <i class="material-icons prefix">description</i>

                  <textarea id="descripcionFormaFarmaceutica" class="materialize-textarea"ng-model="descripcion"></textarea>
                  <label for="descripcionFormaFarmaceutica">Ingrese una breve descripción sobre la nueva Forma Farmaceutica<span id="asterisco"> *</span></label>

                 </div>
                 <div class="col s9 right-align">
                  <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div> 
               </div>
          </form>
        </div>
          
      </div>
    </li>
     <li id="Config-li">
      <div class="collapsible-header"><i class="material-icons">input</i>Laboratorio</div>
      <div class="collapsible-body popup-element padded">
      
        <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear un nuevo laboratorio</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()" ng-controller="crear_laboratorio">
              <div class="row">
                  <div class="input-field col s6">
                       <i class="material-icons prefix">account_circle</i>
                       <input id="nombreLaboratorio" type="text" class="validate" ng-model="nombre">
                       <label for="nombreLaboratorio">Nombre del nuevo laboratorio<span id="asterisco"> *</span></label>
                  </div>
                  
                  <div class="input-field col s6">
                       <i class="material-icons prefix">my_location</i>
                       <textarea id="direccionLaboratorio" class="materialize-textarea" ng-model="descripcion"></textarea>
                       <label for="direccionLaboratorio">Direccion exacta del laboratorio<span id="asterisco"> *</span></label>
                  </div>
                 
                   <div class="input-field col s6">
                       <i class="material-icons prefix">email</i>
                       <input id="correoElectronico" type="text" class="validate" ng-model="correo">
                       <label for="correoElectronico">Correo Electronico del Laboratorio<span id="asterisco"> *</span></label>
                  </div>
                  
                  <div class="input-field col s6">
                       <i class="material-icons prefix">contact_phone</i>
                       <input id="telefonoLaboratorio" type="text" class="validate" ng-model="telefono">
                       <label for="telefonoLaboratorio">Numero telefonicos del laboratorio<span id="asterisco"> *</span></label>
                  </div>
                   <div class="scrollable col s6" style="overflow:auto">
                       
                        <select id="dropdownid">
                            <option>Numeros Telefonicos</option>
                            
                            
                        </select>
                         
                    </div>
                  
                  <div class="col s5 center-align">
                       <button ng-click="submitNumero()" class="btn-large waves-effect waves-light brown lighten-1">Agegar Numero</button>
                  </div>
                  
                  <div class="col s12 center-align">
                       <button ng-click="submitGuardar()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
               </div>
          </form>
        </div>
          
      </div>
    </li>
  </ul>
