
<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        
    $('select').material_select();
    
    });
    $('#medicamentos').addClass('active');
    $('#medicamentos').addClass('z-depth-5');
    $('#logohome').removeClass('z-depth-5');
    $('#logohome').removeClass('active');
    $('#usuarios').removeClass('z-depth-5');
    $('#usuarios').removeClass('active');
    $('#reportes').removeClass('active');
    $('#reportes').removeClass('z-depth-5');
    $('#menuusuarios').removeClass('active');
    $('#menuusuarios').removeClass('z-depth-5');
    $('#logout').removeClass('active');
    
   
       
</script>

<medicamentos-menu></medicamentos-menu>

<ul class="collapsible popout collection with-header" data-collapsible="accordion" id="Config">
     <li class="center-align collection-header brown-text lighten-3"><h4 class="flow-text header">Crear Nuevo Expediente Medico</h4><h6 class="flow-text brown-text lighten-3"> Ingrese los campos necesarios para crear el nuevo valor</h6></li>
    <li collection-item id="Config-li">
      <div class="collapsible-header"><i class="material-icons">info_outline</i>Crear Expediente</div>
      <div class="collapsible-body popup-element padded">
      
         <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear un nuevo expediente al sistema</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()"ng-controller="crearexpediente">
                 <div class="row">
                     <div class="input-field col s6">
                          <input id="nombreProducto" type="text" class="validate">
                          <label for="nombreRepresentante">Nombre del Producto<span id="asterisco">*</span></label>
                    </div>
                    <div class="input-field col s6">
                        <select id="comboModalidadVenta" ng-model="SelectedModalidad" ng-options="item.id as item.nombre for item in selectModalidad">
                           <option value="1">opcion 1</option>
                           <option value="2">opcion 2</option>
                           <option value="2">opcion 3</option>
                        </select>
                        <label>Modalidad de Venta<span id="asterisco">*</span></label>
                    </div>
                    <div class="input-field col s6">
                        <!--ng-model="selectedTestAccount" ng-options="item.Id as item.Name for item in testAccounts"-->
                        <select id="comboFormaFarmaceutica">
                            <option value="1">opcion 1</option>
                            <option value="2">opcion 2</option>
                            <option value="2">opcion 3</option>
                        </select>
                        <label>Forma Farmaceutica<span id="asterisco">*</span></label>
                    </div>
                    <div class="input-field col s6">
                        <select id="comboPresentacionComercial" ng-model="SelectedPresentacion" ng-options="item.id as item.nombre for item in selectpresentacionComercial">
                            <option value="1">opcion 1</option>
                            <option value="2">opcion 2</option>
                            <option value="2">opcion 3</option>
                        </select>
                         <label>Presentacion Comercial<span id="asterisco">*</span></label>
                    </div>
                     <div class="input-field col s6">
                        <select id="comboViaAdministracion" ng-model="SelectedVia" ng-options="item.id as item.nombre for item in selectViaAdministracion">
                             <option value="1">opcion 1</option>
                             <option value="2">opcion 2</option>
                             <option value="2">opcion 3</option>
                         </select>
                         <label>Via de administracion<span id="asterisco">*</span></label>
                    </div>
                    <div class="input-field col s6">
                        <select id="comboLaboratorio" ng-model="SelectedLab" ng-options="item.id as item.nombre for item in selectLaboratorio">
                             <option value="1">opcion 1</option>
                             <option value="2">opcion 2</option>
                             <option value="2">opcion 3</option>
                         </select>
                         <label>Laboratorio Responsable<span id="asterisco">*</span></label>
                    </div>
                     <div class="input-field col s6">
                        <select>
                              <option value="1" selected>Option 1</option>
                              <option value="2">Option 2</option>
                              <option value="3">Option 3</option>
                         </select>
                         <label>Laboratorio Fabricante<span id="asterisco">*</span></label>
                    </div>
                     <div class="input-field col s6">
                          <input id="nombreRepresentante" type="text" class="validate">
                          <label for="nombreRepresentante">Nombre del Representante<span id="asterisco">*</span></label>
                    </div>
                  </div>
                  <br><br>
                <div class="col s9 right-align">
                  <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
            </form>
              
        </div>
          
      </div>
    </li>
  </ul>