<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        
   
    
    });
    $('#logohome').removeClass('z-depth-5');
    $('#logohome').removeClass('active');
    $('#medicamentos').removeClass('z-depth-5');
    $('#medicamentos').removeClass('active');
    $('#reportes').removeClass('active');
    $('#reportes').removeClass('z-depth-5');
    $('#menuusuarios').removeClass('active');
    $('#menuusuarios').removeClass('z-depth-5');
    $('#logout').removeClass('active');
    
  
        
        
    
       
</script>
<style>
    .nodisplay{
        display:none;
    }
</style>

<menu-usuarios></menu-usuarios>

      
         <ul class="collapsible popout collection with-header" data-collapsible="accordion" id="Config">
     <li class="center-align collection-header brown-text lighten-3"><h4 class="flow-text header">Crear Nuevo Usuario</h4><h6 class="flow-text brown-text lighten-3"> Ingrese los campos necesarios para crear el nuevo valor</h6></li>
    <li collection-item id="Config-li" ng-class ="{nodisplay: Permisos['CREATE_USUARIO'] == false}">
      <div class="collapsible-header"><i class="material-icons">info_outline</i>Crear Usuario</div>
      <div class="collapsible-body popup-element padded">
      
         <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear un nuevo Usuario al sistema</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()" ng-controller="crear_usuario">
              <div class="row">
             <div class="input-field col s6">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="nombreUsuario" type="text" class="validate"ng-model="user" name="user">
                  <label for="nombreUsuario">Usuario</label>
                </div>
                 <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nombreCompleto" type="text" class="validate"ng-model="nombre" name="nombre">
                  <label for="nombreCompleto">Nombre Completo</label>
                </div>                
                <div class="input-field col s6">
                    <i class="material-icons prefix">https</i>
                    <input id="usuarioPassword" type="password" class="validate"ng-model="pass" name="pass">
                    <label for="usuarioPassword">Clave</label>
                </div>
                 <div class="input-field col s6">
                    <i class="material-icons prefix">https</i>
                    <input id="usuarioConfirmPassword" type="password" class="validate"ng-model="confirmpass" name="confirmpass">
                    <label for="usuarioConfirmPassword">Confirmar Clave</label>
                </div>
              <div class="input-field col s6" style="overflow:auto">
                    <select id="dropdownid">
                            <option>Roles</option>
                            
                            
                        </select>
                    <label>Rol<span id="asterisco"> *</span></label>
                </div>
                  <div class="col s9 right-align">
                        <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
                  
               </div>
          </form>
              
        </div>
      </div>