
<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        
    $('select').material_select();
    
    });
    
    $('#medicamentos').addClass('active');
    $('#medicamentos').addClass('z-depth-5');
    $('#reportes').removeClass('active');
    $('#reportes').removeClass('z-depth-5');
    $('#menuusuarios').removeClass('active');
    $('#menuusuarios').removeClass('z-depth-5');
    $('#logout').removeClass('active');
    
   
       
</script>

<menu-usuarios></menu-usuarios>
<div id="agregarRol">
      
         <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear un nuevo usuario</h3>
          <div class="row padded">
            <form class="col s12" ng-submit="submit()">
              <div class="row">
             <div class="input-field col s5">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="nombreUsuario" type="text" class="validate"ng-model="user" name="user" ng-maxlength="16">
                  <label for="nombreUsuario">Usuario</label>
                </div>
                 <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nombreCompleto" type="text" class="validate"ng-model="nombre" name="nombre" ng-maxlength="64">
                  <label for="nombreCompleto">Nombre Completo</label>
                 </div>
                   <div class="input-field col s6">
                        <select>
                          <option value="1" selected>Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                        <label>Rol<span id="asterisco">*</span></label>
                    </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">https</i>
                    <input id="usuarioPassword" type="text" class="validate"ng-model="user" name="user" ng-maxlength="8">
                    <label for="usuarioPassword">Clave</label>
                </div>
                <div class="input-field col s6">
                </div>
                 <div class="input-field col s6">
                    <i class="material-icons prefix">https</i>
                    <input id="usuarioConfirmPassword" type="text" class="validate"ng-model="user" name="user" ng-maxlength="8">
                    <label for="usuarioConfirmPassword">Confirmar Clave</label>
                </div>
                  <div class="col s9 right-align">
                        <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
                  
               </div>
          </form>
              
        </div>
      </div>