
<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        
    $('select').material_select();
    
    });
    
    $('#medicamentos').addClass('active');
    $('#medicamentos').addClass('z-depth-5');
    $('#reportes').removeClass('active');
    $('#reportes').removeClass('z-depth-5');
    $('#menuusuarios').removeClass('active');
    $('#menuusuarios').removeClass('z-depth-5');
    $('#logout').removeClass('active');
    
   
       
</script>

<menu-usuarios></menu-usuarios>
<div id="agregarRol">
      
         <h3 class="center-align flow-text brown-text lighten-4">Ingrese los atributos necesarios para crear un nuevo Rol</h3>
          <div class="row">
            <form class="col s12" ng-submit="submit()"ng-controller="Creacion_Rol">
              <div class="row">
             <div class="input-field col s5">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="nombrePresentacionComercial" type="text" class="validate"ng-model="user" name="user" ng-maxlength="64" required ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$/" >
                  <label for="nombrePresentacionComercial">User</label>
                </div>
                 <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nombrePresentacionComercial" type="text" class="validate"ng-model="nombre" name="nombre" ng-maxlength="64" required ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$/" >
                  <label for="nombrePresentacionComercial">Name</label>
                 </div>
                  <div class="input-field col s5">
                    <i class="material-icons prefix">https</i>
                    <input id="nombrePresentacionComercial" type="text" class="validate"ng-model="user" name="user" ng-maxlength="64" required ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$/" >
                    <label for="nombrePresentacionComercial">Clave</label>
                </div>
                 <div class="input-field col s12">
                    <select>
                      <option value="1" >Admin</option>
                    </select>
                    <label>Rol</label>
                  </div>
                  <div class="col s9 right-align">
                        <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
                  
               </div>
          </form>
              
        </div>
      </div>