<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
   
    $('#logohome').removeClass('active');
     $('#logohome').removeClass('z-depth-5');
    $('#medicamentos').removeClass('active');
    $('#medicamentos').removeClass('z-depth-5');
    $('#reportes').addClass('active');
    $('#reportes').addClass('z-depth-5');
    $('#usuarios').removeClass('active');
    $('#usuarios').removeClass('z-depth-5');
    $('#logout').removeClass('active');
       
</script>

<div class="row" id="div-usuarios">
      <ul class="tabs" id="ul-usuarios">
        <li class="tab col s3 active brown-text lighten-3" style= "display:none" id="li-usuarios"><a id="ver"href="#/verExpediente">Ver Expediente</a></li>
        <li class="tab col s3 brown-text lighten-1" style= "display:none" id="li-usuarios"><a href="#/buscarMedicamento">Buscar Medicamento</a></li>
        <li class="tab col s3 brown-text lighten-1" id="li-usuarios"><a href="#/historico">Historico</a></li>
      </ul>
    
</div>

<ul class="collapsible popout collection with-header" data-collapsible="accordion" id="Config">
     <li class="center-align collection-header brown-text lighten-3"><h4 class="flow-text header">Historial de Modificaciones</h4><h6 class="flow-text brown-text lighten-3">
         Se visualizara el log de las modificaciones, y de quienes las realizaron.
     </h6></li>
    <li collection-item id="Config-li">
      <div class="collapsible-header"><i class="material-icons">search</i>Ver Historico</div>
      <div>
      
         <h3 class="center-align flow-text brown-text lighten-4">Se presenta el historial de estados por los que ha pasado el expediente actual</h3>
          <div class="row padded">
            <form class="col s12" ng-submit="submit()"ng-controller="historia_ciclo">
                
             <div class="row">
                 
              <div class="col s12">
                  <div class="input-field col s2">
                    Codigo Expediente
                </div>
                  <div class="input-field col s10">
                      <i class="material-icons prefix">dialpad</i>
                      <input disabled id="codigoExpediente" type="text" class="validate darkFont"ng-model="codigo">
                      
                 </div>
               </div>
                 
               <div class="col s12">
                   <div class="input-field col s2">
                    Nombre Expediente
                </div>
                  <div class="input-field col s10">
                      <i class="material-icons prefix">perm_identity</i>
                      <input disabled id="nombreExpediente" type="text" class="validate darkFont"ng-model="nombre">
                      
                 </div>
               </div>
                 
               <div class="col s12">
                   <div class="input-field col s2">
                    Laboratorio
                </div>
                  <div class="input-field col s10">
                      <i class="material-icons prefix">polymer</i>
                      <input disabled id="laboratorioExpediente" type="text" class="validate darkFont"ng-model="laboratorio">
                     
                 </div>
               </div>
                 
               <div class="col s12">
                   <div class="input-field col s2">
                    Estado Actual
                </div>
                  <div class="input-field col s10">
                      <i class="material-icons prefix">done</i>
                      <input disabled id="estadoActual" type="text" class="validate darkFont"ng-model="estado">
                      
                 </div>
               </div>
                <div class="col s12">
                <table class="striped"id="table">
                  <tr>
                      <th>Estado</th><th>Fecha</th><th>Usuario</th>
                  </tr>
                  <tr ng-repeat="item in listaEstados" value="{{item.NombreCicloVida}}">
                               <td >{{item.NombreCicloVida}}</td>
                               <td >{{item.FechaCambio}}</td>
                               <td >{{item.UsuarioCambio}}</td>
                                
                  </tr>
                   
                </table> 
                 
            </div>
        
             <div class="col s5 center-align">
                       <button ng-click="volver()" class="btn-large waves-effect waves-light brown">Volver</button>
             </div>
                  </br>
               </div>
          </form>
              
        </div>
          
      </div>
    </li>
    </li>
    
  </ul>