<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        
    
    });
    $('#logohome').addClass('active');
    $('#logohome').addClass('z-depth-5');
    $('#usuarios').removeClass('active');
    $('#usuarios').removeClass('z-depth-5');
    $('#medicamentos').removeClass('active');
    $('#medicamentos').removeClass('z-depth-5');
    $('#reportes').removeClass('active');
    $('#reportes').removeClass('z-depth-5');
    $('#logout').removeClass('active');
</script>
