
<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
          
    });
    $('#medicamentos').removeClass('active');
    $('#medicamentos').removeClass('z-depth-5');
    $('#usuarios').removeClass('z-depth-5');
    $('#usuarios').removeClass('active');
    $('#logohome').removeClass('z-depth-5');
    $('#logohome').removeClass('active');
    $('#reportes').removeClass('active');
    $('#reportes').removeClass('z-depth-5');
    $('#menuusuarios').removeClass('active');
    $('#menuusuarios').removeClass('z-depth-5');
    $('#logout').removeClass('active');
    
   
       
</script>

 <ul class="collapsible popout collection with-header" data-collapsible="accordion" id="Login">
     <li class="center-align collection-header brown-text lighten-3"><h4 class="flow-text header">Login</h4><h6 class="flow-text brown-text lighten-3"> Ingrese sus credenciales</h6></li>
        <li collection-item id="Login-li">
          <div class="row padded">
            <form class="col s12" ng-submit="submit()"ng-controller="Login">
                
              <div class="row">
                    <div class="input-field col s9">
                          <i class="material-icons prefix">account_circle</i>
                            <input id="usuarioLogin" type="text" class="validate"ng-model="usuario">
                          <label for="usuarioLogin">UsuarioLogin<span id="asterisco"> *</span></label>
                    </div>
                     <div class="input-field col s9">
                          <i class="material-icons prefix">lock_outline</i>
                            <input id="passwordLogin" type="password" class="validate"ng-model="password">
                          <label for="passwordLogin">PasswordLogin<span id="asterisco"> *</span></label>
                     </div>
                    <div class="col s9 right-align">
                        <button ng-submit="submit()" class="waves-effect waves-light btn light-green">Login</button>
                    </div>

               </div>
              </form>
            </div>
        </li>
  </ul>

