
<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
   
    $('#logohome').removeClass('active');
     $('#logohome').removeClass('z-depth-5');
    $('#medicamentos').removeClass('active');
    $('#medicamentos').removeClass('z-depth-5');
    $('#reportes').addClass('active');
    $('#reportes').addClass('z-depth-5');
    $('#usuarios').removeClass('active');
    $('#usuarios').removeClass('z-depth-5');
    $('#logout').removeClass('active');
       
</script>

<medicamentos-menu></medicamentos-menu>

<div class="row" id="div-usuarios">
      <ul class="tabs" id="ul-usuarios">
        <li class="tab col s3 active brown-text lighten-3" id="li-usuarios"><a href="#/verExpediente">Ver Expediente</a></li>
        <li class="tab col s3 brown-text lighten-1" id="li-usuarios"><a href="#/buscarMedicamento">Buscar Medicamento</a></li>
        <li class="tab col s3 brown-text lighten-1" id="li-usuarios"><a href="#/historico">Historico</a></li>
      </ul>
    
</div>