<script>
     $(document).ready(function(){
     $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
    $('#logohome').removeClass('z-depth-5');
    $('#logohome').removeClass('active');
    $('#medicamentos').removeClass('active');
    $('#medicamentos').removeClass('z-depth-5');
    $('#reportes').removeClass('active');
    $('#reportes').removeClass('z-depth-5');
    $('#usuarios').addClass('active');
    $('#usuarios').addClass('z-depth-5');
    $('#logout').removeClass('active');
       
</script>
<menu-usuarios></menu-usuarios>