body{
    background-image: url("../IMG/background.jpg");
    	background-repeat: no-repeat;
    background-size: cover;
    	background-attachment: fixed;
}
.header{
    font-size: 70px;
}


textarea:focus {
  border-bottom: 1px solid #03a9f4;
  -webkit-box-shadow: 0 1px 0 0 #03a9f4;
  -moz-box-shadow: 0 1px 0 0 #03a9f4;
  box-shadow: 0 1px 0 0 #03a9f4;
}


#navhome{
    background-color:burlywood;
    position: absolute;
    text-align:center;
    width: 60%;
    
    top:2%;
    left: 20%;
    right: 20%;
    
}

#nav-mobile{
  display:inline-block;
    list-style:none; 
   
}
#div-medicamentos{
    position: absolute;
    
    width: 60.05%;
    left: 20.9%;
    right: 20%;
    top: 12%;
    
    
}
#div-usuarios{
    position: absolute;
    
    width: 60.05%;
    left: 20.9%;
    right: 20%;
    top: 12%;
    
    
}
#agregarRol{
    position: absolute;
    top: 19%;
    width: 60%;
    left: 20%;
    background-color:white;
}
#Config{
    position: absolute;
    top: 18%;
    width: 63.55%;
    left: 18.2%;
    
    
}

#nombrePresentacionComercial{
    
}
#Config-li{
    background-color:aliceblue;
}

.errorFont{
    width:1000px;
    hegiht:1000px;
}

#asterisco{
    font-size:25px;
}
